---
import Layout from "@/layouts/Layout.astro";
import HeroKeyLogo from "@/assets/hero-key-logo.webp";
import HeroKeyBackground from "@/assets/hero-key-background.webp";
import LogoVI from "@/assets/logo-vi.svg";
import PlayButtonIcon from "@/assets/play-button.svg";
import CutLogoVI from "@/assets/cut-logo-vi.svg";
---

<Layout>
  <div id="mask-logo" class="fixed top-0 w-full h-screen">
    <section>
      <picture
        id="hero-key"
        class="h-screen scale-125 block overflow-hidden fixed"
      >
        <img
          id="hero-key-logo"
          src={HeroKeyLogo.src}
          alt="GTA VI Logo"
          class="w-full h-full object-cover absolute"
          loading="lazy"
        />
        <img
          id="hero-key-background"
          src={HeroKeyBackground.src}
          alt="GTA VI Background"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </picture>
    </section>
  </div>

  <div
    class="h-screen w-full fixed flex flex-col items-center justify-between p-14"
  >
    <header class="w-full flex justify-between">
      <LogoVI class="size-9 text-white" />
    </header>

    <button class="cursor-pointer absolute inset-0 m-auto inline-block">
      <PlayButtonIcon
        id="hero-play-button"
        class="size-26 m-auto mt-10 backdrop-blur-3xl rounded-full hover:scale-110 transition-transform duration-500"
      />
    </button>

    <footer id="hero-footer" class="absolute bottom-8 m-auto">
      <CutLogoVI
        class="text-white w-36 drop-shadow-[0_0_2px_rgba(255,255,255,.5),0_0_8px_#000]"
      />
      <span
        class="absolute uppercase tracking-[6px] whitespace-nowrap text-center top-[50px] font-medium text-shadow-[0_0_2px_rgba(255,255,255,.5),0_0_8px_#000] left-1/2 -translate-x-1/2"
      >
        watch trailer 2
      </span>
    </footer>
  </div>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    ease: "power2.out",
    scrollTrigger: {
      scrub: 1,
    },
  });

  tl.to("#hero-key", { duration: 1, scale: 1 })
    .to("#hero-key-logo", { opacity: 0 }, "<")
    .to("#hero-footer", { opacity: 0 }, "<")
    .to("#hero-play-button", { opacity: 0 }, "<")
    .to(
      "#mask-logo",
      {
        maskSize: "clamp(20vh, 25%, 30vh)",
      },
      0.15
    )
    .to(
        "#hero-key",
        {
            opacity: 0,
            duration: 0.2,
        },
        0.4
    );
</script>
