---
import "@/styles/global.css";
import KeppScrolling from "@/assets/keep-scrolling.svg"
--- 
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lannding GTA VI by @MmmarRTha</title>
	</head>
	<body>
		<slot />
        <KeppScrolling class="fixed bottom-3 left-0 right-0 m-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse" />
	</body>
</html>

<style is:global>
	html,
	body {
        background: black;
        color: white;
        height: 300vh;
        overflow-x: hidden;
        overscroll-behavior: none;
		margin: 0;
		width: 100%;
	}
</style>
